.customContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1.25rem;
}

.customMainContainer {
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.latestTransac {
    color: #fff;
    font-size: 1.875rem;
    text-align: center;
    margin-top: 2rem;
}

.gridContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.gridDivcontainer {
    flex: 0 0 calc(23.33% - 20px);
    margin-bottom: 20px;
    border: 1px solid gray;
    border-radius: 20px;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .gridDivcontainer {
        flex: 0 0 calc(50% - 20px);
    }
}

@media screen and (max-width: 768px) {
    .gridDivcontainer {
        flex: 0 0 calc(100% - 20px);
    }
}

@media screen and (max-width: 500px) {
    .gridDivcontainer {
        flex: 0 0 calc(100% - 20px);
    }
}
